{{#each productos}}
  <div class='card'>
    <article class='card__article'>
      <div class='card__image-container'>
        <img src={{foto}} alt={{nombre}} class='card__image' />
      </div>
      <div class='card__content'>
        <h2 class='card__heading'>{{nombre}}</h2>
        <div class='card__description'>
          <p>{{categoria}}</p>
        </div>

        <div class='price rating cart'>
          <p class='price__cost'>{{precio}}</p>

          <div class='cart__button'>
            <input class='cart-btn' type='button' value=' &#128722; agregar al carrito' />
            
          </div>
        </div>
      </div>
    </article>
  </div>
{{/each}}
